<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<TestRunParameters>
		<Parameter name="Email" value="" />
		<Parameter name="Password" value="" />
		<Parameter name="Url" value="" />
		<!-- chrome,msedge,firefox -->
		<Parameter name="BrowserType" value="chrome" />
		<Parameter name="MfaSecretKey" value=""/>
		<Parameter name="AzureKey" value="" />
		<Parameter name="SessionId" value="" />
		<Parameter name="EndpointName" value="" />
		<Parameter name="APIKey" value="" />
		<Parameter name="DeploymentName" value="" />
		<Parameter name="APIVersion" value="" />
		<Parameter name="HeadlessMode" value="false" />
		<Parameter name="ExecutionReportsPath" value="false" />
		<Parameter name="ScreenshotsForFailedTests" value="true" />
		<Parameter name="ScreenshotsForPassedTests" value="true" />
		<!-- Provide path from project's root directory -->
		<Parameter name="ExecutionReportsFolderPath" value="C:\Users\v-shaiknag\source\repos\PortalApp\Output\TestExecutionReports" />
		<Parameter name="ScreenshotsFolderPath" value="C:\Users\v-shaiknag\source\repos\PortalApp\Output\Screenshots" />
		<!-- Provide path from project's root directory keep it empty if recording not needed -->
		<Parameter name="RecordingVideosDir" value="" />
		<Parameter name="EnableTestMode" value="true" />
	</TestRunParameters>
</RunSettings>
