<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<TestRunParameters>
		<Parameter name="Email" value="braucaunupeussu-7222@yopmail.com" />
		<Parameter name="Password" value="Unhcr@123" />
		<Parameter name="Url" value="https://myservices-template-int.powerappsportals.com/en-US/" />
		<!-- chrome,msedge,firefox -->
		<Parameter name="BrowserType" value="msedge" />
		<Parameter name="MfaSecretKey" value=""/>
		<Parameter name="AzureKey" value="" />
		<Parameter name="SessionId" value="" />
		<Parameter name="EndpointName" value="" />
		<Parameter name="APIKey" value="" />
		<Parameter name="DeploymentName" value="" />
		<Parameter name="APIVersion" value="" />
		<Parameter name="HeadlessMode" value="false" />
		<Parameter name="ExecutionReportsPath" value="false" />
		<Parameter name="ScreenshotsForFailedTests" value="true" />
		<Parameter name="ScreenshotsForPassedTests" value="true" />
		<!-- Provide path from project's root directory -->
		<Parameter name="ExecutionReportsFolderPath" value="Artifacts\TestExecutionReports" />
		<Parameter name="ScreenshotsFolderPath" value="Artifacts\Screenshots" />
		<!-- Use recording wisely. Provide path from project's root directory keep it empty if recording not needed -->
		<Parameter name="RecordingVideosDir" value="RecordingLogs" />
		<Parameter name="EnableTestMode" value="true" />
	</TestRunParameters>
</RunSettings>
